* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card {
    background-color: #061621;
    color: white;
    width: 400px;
    padding: 30px;
    margin: 20px;
    border: 1px solid white;
}

.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    background-color: #061621;
}

.forgot-password{
    background-color: #061621;
}

.logo-container {
    height: 500px;
    width: 500px;
    background-color: #061621;
    background-image: url('./components/images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.left {
    height: 600px;
    width: 400px;
    padding: 20px;
    background-color: rgb(201, 253, 253);
    border: 2px solid black;
    border-radius: 10px;
}

.right {
    height: 600px;
    width: 800px;
    padding: 0px 10px;
    /* background-color: pink; */
}

.user-image-container {
    height: 200px;
    width: 200px;
    margin: 20px auto;
    background-image: url('./components/images/user.png');
    background-size: cover;
    border: 2px solid white;
    border-radius: 50%;
}

.welcome {
    font-size: 30px;
    text-align: center;
}

.name {
    color: rgb(54, 54, 233);
    font-weight: 800;
}

.message {
    height: 200px;
    padding: 20px;
}

.message-p2 {
    color: gray;
    text-align: left;
}

.upper {
    height: 200px;
    border: 2px solid black;
    /* background-color: rgb(148, 247, 247); */
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
}

.progressbar {
    padding: 20px;
    width: 500px;
}

.upload-container {
    height: 380px;
    border: 2px solid black;
    border-radius: 10px;
    /* background-color: blue; */
}

.main-upload {
    color: black;
    height: 50px;
    background-color: rgb(152, 152, 243);
    padding: 5px 20px;
    margin: 10px 10px;
    border-radius: 10px;
    position: relative;
}

.upload {
    color: black;
    height: 50px;
    background-color: rgb(149, 247, 247);
    padding: 5px 20px;
    margin: 10px 10px;
    border-radius: 10px;
    position: relative;
}

.align-right {
    position: absolute;
    right: 10px;
}

.form-popup {
    display: none;
    position: absolute;
    top: 0px;
    right: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.form-container {
    width: 50vw;
    height: 99vh;
    padding: 50px;
    
    overflow-y: scroll;
}

.form-container::-webkit-scrollbar {
    display: none;
}

.cross-image {
    position: absolute;
    top: 10px;
    right: 10px;
}

.stick-to-title{
    margin-top: -10px;
}