* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.card {
    background-color: #061621;
    color: white;
    width: 400px;
    padding: 30px;
    margin: 20px;
    border: 1px solid white;
}

.main-container {
    background-color: #061621;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    height: 500px;
    width: 500px;
    background-image: url('./components/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}